body{
    background-color : #232323 ;
    margin : auto;
     max-width : 600px;
 }
 h1{
      color : white ;
      padding-top : 60px ;
     padding-bottom : 60px ;
 }
 
 
 .inner{
     color : white ;
      padding-top : 20px ;
     padding-bottom : 20px ; 
     font-size :25px ;
 }
 
 input[type=submit]{
       padding : 4px 10px ;
       font-size :25px ;
       
 }